:root {
  --background: 0 5% 1%;
  --foreground: 222.2 84% 4.9%;
  --accent: 47, 99%, 51%;
  --primary: 0 0% 0%;
  --text-color: 255 255 255;
  --statistic-bg: 255 255 255 / 0.1;
  --hover-color: 255 255 255 / 0.2;
  --border-radius: 8px;
  --transition-duration: 0.3s;
}

body, html {
  margin: 0;
    padding: 0;
    width: 400px;
    height: auto;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(90deg, hsl(var(--background)) 0%, hsl(var(--foreground)) 100%);
    color: hsl(var(--primary));
}

.auth-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 10px;
  height: 100vh;
  color: hsl(var(--accent));
}

.auth-cont input {
  width: 100%;
  padding: 10px;
  border: 1px solid hsl(var(--accent));
  border-radius: var(--border-radius);
  background: linear-gradient(90deg, hsl(var(--background)) 0%, hsl(var(--foreground)) 100%);
  color: hsl(var(--accent));
}

.auth-cont input:focus {
  outline: none;
  background: linear-gradient(90deg, hsl(var(--background)) 0%, hsl(var(--foreground)) 100%);
  color: hsl(var(--accent));
}

.auth-cont button {
  padding: 10px;
  border: 1px solid hsl(var(--accent));
  border-radius: var(--border-radius);
  background: linear-gradient(90deg, hsl(var(--background)) 0%, hsl(var(--foreground)) 100%);
  color: hsl(var(--accent));
}

.auth-cont button:focus {
  outline: none;
  background: linear-gradient(90deg, hsl(var(--background)) 0%, hsl(var(--foreground)) 100%);
  color: hsl(var(--accent));
}

.auth-cont p, span {
  color: hsl(var(--accent));
  font-size: 0.8rem;
  margin: 0;
}

.early-access {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.5rem;
}

.early-access p {
  font-size: 0.8rem;
  margin-top: 2px;
}

.auth-cont button:hover {
  background-color: hsla(var(--hover-color));
}

.extension-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
}

.dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: hsla(var(--statistic-bg));
  border-bottom: 1px solid hsl(var(--accent));
}

.logo {
  width: 60px;
  margin-bottom: 5px;
}

.dashboard-title {
  color: hsl(var(--text-color));
  text-align: center;
}

.dashboard-title a {
  color: hsl(var(--accent)); 
  text-decoration: none; 
  font-size: 1.2rem;
}

.statistics-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
}

.statistic {
  background-color: hsla(var(--statistic-bg));
  padding: 10px;
  border-radius: var(--border-radius);
  text-align: center;
  transition: background-color var(--transition-duration);
}

.statistic:hover {
  background-color: hsla(var(--hover-color));
}

.statistic-icon {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
p {
  margin: 0;
  color: white;
}

.statistic-value {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: hsl(var(--accent));
}

.statistic-label {
  color: white
}

.navigation-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: hsla(var(--statistic-bg));
  border-top: 1px solid hsl(var(--accent));
}

.navigation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

.navigation-item:hover {
  background-color: hsla(var(--hover-color));
}

.navigation-icon {
  font-size: 1.5rem;
}

.navigation-label {
  font-size: 0.8rem;
  color: hsl(var(--accent));
}

.dashboard-footer {
  text-align: center;
  padding: 10px;
  color: hsl(var(--text-color));
  background-color: hsla(var(--statistic-bg));
}